.input-group-text{
    background-color: #007BFF;
    
}
.fa-search{
    color: cornsilk;
}
li {
    display: block;
    margin-left: 5px;
}
.weather-details{
    margin-left: 40px;
}

#forecast{
    margin-left: 20px;
}