.input-group-text {
  background-color: #007bff;
}
.fa-search {
  color: cornsilk;
}

.weather-details {
  margin-left: 40px;
}

.forecastHeading{
    margin-left: 20px;
}
#forecast {
  margin-left: 20px;
  margin-right: 20px;
}

.weather-icon {
    height: 72px;
    width: 72px;

}
.hidden {
    display: none;
    }

.city-link{
    cursor: pointer;
}
/* 
.favorable {
    background-color: yellow;
};

.moderate {
    background-color: orange;
};
.severe {
    background-color: red;
} */